@import"./_variables.scss";

.school-logos{

    @include flex-collum{
    justify-content: space-evenly;
    align-item:center;
    }
}

.pictures{
    width:95%;
    align-items: center;
    @include flex-row{
    
    }
    @include desktop{
        @include flex-row{
        }
    }
    @include laptop{
        @include flex-row{
        }
    }
    @include tablet{
        @include flex-collum{}
    }

}

.flex-block{
    @include flex-collum{  
        justify-content: space-evenly;  
    }
    @include desktop{
        @include flex-row{
        justify-content: space-evenly;
            
        }
    }
}
.scenes{
    @include flex-collum{
        padding:1%;
        border:0.3rem solid white;
        background-color: rgba(color(primary), 0.5);
    }

    
    @include tablet{
        @include flex-row{
            height:25%;
        }
    }
    
}
#haikyuu{
    font-size: 2rem;
    border-style: solid;
    border-color: rgba(color(primary),0.6);
    padding:3rem;
    text-align: center;
    width:50rem;
}
.scene1{
    width: 25rem;
}
.scene2{
    width:25rem;
}
.scene3{
    width: 25rem;
}
#flex-child1{
    flex-grow: 1;
    width:80%;
}
#flex-child2{
    flex-grow:1;
    width:80%;

}
#flex-child3{
    flex-grow: 1;
    width:80%;
}
#flex-child4{
    flex-grow: 1;
    width:80%;
}
#flex-child5{
    flex-grow: 1;
    width:80%;

    
    
}

#flex-child6{
    flex-grow: 1;
    width:32rem;

}

