@import"./_variables.scss";

.intro{
    width: 98%;
    
    align-items: center;
    @include flex-row{
    }
    @include desktop{
        height: 50%;
        @include flex-row{
        justify-content: space-evenly;
        }
    }
    @include laptop{
        @include flex-row{
        }
    }
    @include tablet{
        height: 70%;
        @include flex-collum{
    }
}
}

.pictures{
    width:95%;
    align-items: center;
    margin-bottom: 3%;
    @include flex-row{
    
    }
    @include desktop{
        @include flex-row{
        }
    }
    @include laptop{
        @include flex-row{
        }
    }
    @include tablet{
        height: 50%;
        @include flex-collum{

        }
    }


}

.flex-block{
    @include flex-collum{  
        justify-content: space-evenly;  
    }
    @include desktop{
        @include flex-row{
        justify-content: space-evenly;
            
        }
    }
}
.scenes{
    height: 50%;
    @include flex-collum{

    }
    @include phone {
        height:40%;
    }
   
    
}
#haikyuu{
    font-size: 2rem;
    border-style: solid;
    border-color: rgba(color(primary),0.6);
    padding:3rem;
    text-align: center;
    width:50rem;
}
.scene1{
    width: 34rem;
    height: 30rem;
    @include desktop{
        width: 45rem;
    }
    @include laptop{
        width: 40rem;
   
    }
    @include tablet{
        width:30rem;
    
    }
    @include phone{
        width: 22rem;
        height: 100%;
    }
}
.scene2{
    width: 34rem;
    height: 30rem;
    @include desktop{
        width: 45rem;
        
    }
    @include laptop{
        width: 40rem;
    
    }
    @include tablet{
        width:30rem;
  
    }
    @include phone{
        width: 22rem;
        height: 100%;
     
    }
}
.scene3{
    width: 34rem;
    height: 30rem;
    @include desktop{
     width: 30%;
    }
    @include laptop{
        width: 40rem;
    }
    
    @include tablet{
        width:30rem;
        height: 25%;

    }
    @include phone{
        width: 22rem;
        height: 100%;
    }    
}
