@import"./_variables.scss";

.school-logos{
    @include flex-collum{}
}

.pictures{
    flex-flow: row;
}

.flex-block{
    @include flex-collum{    
    }
}
.scenes{
    @include flex-row{
    padding:5rem;
    width: 80%;
    background-color: rgba(color(primary), 0.5);
    }
    
}
#haikyuu{
    font-size: 2rem;
    border-style: solid;
    border-color: rgba(color(primary),0.6);
    padding:3rem;
    text-align: center;
    width:50rem;
}
.scene1{
    width: 25rem;
}
.scene2{
    width:25rem;
}
.scene3{
    width: 25rem;
}
#flex-child1{
    flex-grow: 1;
    width:32rem;
}
#flex-child2{
    flex-grow: 1;
    width:32rem;

}
#flex-child3{
    flex-grow: 1;
    width:32rem;
}
#flex-child4{
    flex-grow: 1;
    width:32rem;
}
#flex-child5{
    flex-grow:1;
    width:32rem;
}
