@import"./_variables.scss";

.intro{
    width: 98%;
    
    align-items: center;
    @include flex-row{
    }
    @include desktop{
        height: 50%;
        @include flex-row{
        justify-content: space-evenly;
        }
    }
    @include laptop{
        @include flex-row{
        }
    }
    @include tablet{
        height: 70%;
        @include flex-collum{
    }
}
}

.pictures{
    width:95%;
    align-items: center;
    margin-bottom: 3%;
    @include flex-row{
    
    }
    @include desktop{
        @include flex-row{
        }
    }
    @include laptop{
        @include flex-row{
    
        }
    }
    @include ipadHorizontal{
        @include flex-row{
            justify-content: space-evenly;
        }
    }
    @include tablet{
        height: 50%;
        @include flex-collum{

        }
    }
    @include phone{
        height: 60%;
    }


}

.flex-block{
    @include flex-collum{  
        justify-content: space-evenly;  
    }
    @include desktop{
        @include flex-row{
        justify-content: space-evenly;
            
        }
    }
}
.scenes{
    height: 50%;
    
    @include flex-collum{

    }
    @include phone {
        height:75%;
    }
   
    
}
/* #haikyuu{
    font-size: 2rem;
    border-style: solid;
    border-color: rgba(color(primary),0.6);
    padding:3rem;
    text-align: center;
    width:50rem;
} */

.scene1{
    width: 34rem;
    height: 30rem;
    @include desktop{
        width: 45rem;
        
    }
    @include laptop{
        width: 38rem;
    
    }
    @include ipadHorizontal{
        width: 30rem;
    }
    @include tablet{
        width:30rem;
  
    }
    @include phone{
        width: 22rem;
        height: 100%;
     
    }
}
.scene2{
    width: 34rem;
    height: 30rem;
    @include desktop{
        width: 45rem;
        
    }
    @include laptop{
        width: 38rem;
    
    }
    @include ipadHorizontal{
        width: 30rem;
    }
    @include tablet{
        width:30rem;
  
    }
    @include phone{
        width: 22rem;
        height: 100%;
     
    }
}

.scene3{
    width: 34rem;
    height: 30rem;
    @include desktop{
        width: 45rem;
        
    }
    @include laptop{
        width: 38rem;
    
    }
    @include ipadHorizontal{
        width: 30rem;
    }
    @include tablet{
        width:30rem;
  
    }
    @include phone{
        width: 22rem;
        height: 100%;
     
    }
}

.food{
    @include desktop{
        position: absolute;
        outline-offset: 0.8rem;
        transition: all 0.3s;
    }
    @include laptop{
    position: absolute;
    outline-offset: 0.5rem;
    transition: all 0.3s;
    }
    
}
.food-gallery{
    @include desktop{
        position: relative;
    }
    @include laptop{
        position: relative;
    }
    
}

.food:hover{
    transform: scale(1.1);
    outline:3rem solid rgba(color(secondary),0.7);
    z-index: 2;
}
.food-gallery:hover .food-gallery:not(:hover){
    transform: scale(0.8);
    opacity:0.3;
}