@import"./variables";

header{
    display:flex;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    height:100rem;
}

/* h1{
    text-align: center;
    color: rgba((color(primary)), 0.9);
    border-color: rgba((color(primary)), 0.5);
    border-style: solid;
    font-size: 4rem;
    padding: .5rem;
} */
h3{
    text-align: center;
}

.title{
    text-align: left;
    color: rgba((color(clear)), 0.9);
    border-style: solid;
    font-size: 4rem;
    padding: .5rem;
}