@import"./variables";

header{
    display:flex;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
    height:72rem;
    @include tablet {
        height:100rem;
      }
      @include laptop {
        height:120rem;
      }
}

/* h1{
    text-align: center;
    color: rgba((color(primary)), 0.9);
    border-color: rgba((color(primary)), 0.5);
    border-style: solid;
    font-size: 4rem;
    padding: .5rem;
} */
h3{
    text-align: center;
}

.title{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    color: rgba((color(clear)), 0.9);
    font-size: 3rem;
    @include tablet {
        font-size: 5rem;
        letter-spacing: 1rem;
      }
      @include laptop {
        font-size: 6rem;
        letter-spacing: 1.3rem;
      }
}