@import"./variables";


.tiles {
	width: 30%;
	font-size: 0;
	position: absolute;
	transform: translate(-50%, -50%);
	@include phone{
		width: 60%;
	}
	@include tablet{
		width:43%;
	}
	
	
	
  }
.tiles .tile {
	display: inline-block;
	text-align: left;
	opacity: .99;
	overflow: hidden;
	position: relative;
	border-radius: 1px;
	box-shadow: 0 0 1rem rgba(color(basic), 0.05);
  }
.tiles .tile:before {
	content: '';
	background: linear-gradient(to bottom, rgba(color(basic), 0), rgba(color(basic), 0.7));
	width: 100%;
	height: 50%;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
	transition-property: top, opacity;
	transition-duration: 0.3s;
}
.tiles .tile img {
	display: block;
	max-width: 100%;
	backface-visibility: hidden;
  }
.tiles .tile .details {
	font-size: 5rem;
	padding: 2rem;
	color: rgba(color(clear), 1);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
  }
.tiles .tile .details span {
	display: block;
	opacity: 0;
	position: relative;
	top: 100px;
	transition-property: top, opacity;
	transition-duration: 0.3s;
	transition-delay: 0s;
  }
.tiles .tile .details .title {
	line-height: 1;
	font-weight: 600;
	font-size: 2.2rem;
  }
.tiles .tile .details .info {
	line-height: 1.2;
	margin-top: 5px;
	font-size: 1.2rem;
  }
.tiles .tile:focus:before,
.tiles .tile:focus span, .tiles .tile:hover:before,
.tiles .tile:hover span {
	opacity: 1;
  }
.tiles .tile:focus:before, .tiles .tile:hover:before {
	top: 50%;
  }
.tiles .tile:focus span, .tiles .tile:hover span {
	top: 0;
  }
.tiles .tile:focus .title, .tiles .tile:hover .title {
	transition-delay: 0.15s;
  }
.tiles .tile:focus .info, .tiles .tile:hover .info {
	transition-delay: 0.25s;
  }
  
  