@import"./variables";

.user-gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop{
        height: 200vh;
        width: auto;
    }
    @include laptop{
        height: 90vh;
    }
}

.user-gallery-header{
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    @include tablet{
        font-size: 3rem;
    }
    @include laptop{
        font-size: 4rem;
    }
    @include desktop{
        font-size: 5rem;
    }
}

.user-gallery-gallery{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    @include desktop{
        width:80%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    @include laptop{
        height: 60%;
        width: 90%;
        flex-direction: row;
    }
    .user-gallery-image{
        width: 70%;
        padding: 1rem;
        @include desktop{
            height: 35rem;
            padding: 2%;
        }
        @include laptop{
            height: 30rem;
            width: auto;
        }
    }
}