@import"./variables";

.general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop{
        height: 100vh;
        width: auto;
    }
    @include laptop{
        height: 90vh;
    }
}

.general-header{
    padding:1%;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    
    @include desktop{
        font-size: 5rem;
    }

    @include laptop{
        font-size: 4rem;
    }
    @include tablet{
        font-size: 3rem;
    }
}

.general-gallery{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    @include desktop{
        width:80%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    @include laptop{
        height: 60%;
        width: 90%;
        flex-direction: row;
    }
    @include tablet{
        height:60%;
        flex-direction: column;
    }
    .general-image{
        width: 70%;
        padding: 1rem;
        @include desktop{
            width:30%;
            padding: 2%;
        }
        @include laptop{
            width: 30%;
        }
        @include tablet{
            width:70%;
        }
    }
}