@import"./variables";

.general{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include desktop{
        height: 100%;
        width: 100%;
    }
    @include laptop{
        height: 100%;
        width:100%;
    }
}

.general-header{
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    
    @include desktop{
        font-size: 7rem;
    }

    @include laptop{
        font-size: 5rem;
    }
    @include tablet{
        font-size: 3rem;
    }
}

.general-gallery{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    float: none;
    overflow: hidden;
    cursor: default;
    @include desktop{
        width:80%;
        flex-direction: row;
        justify-content: space-evenly;
    }
    @include laptop{
        height: 60%;
        width: 90%;
        flex-direction: row;
    }
    @include tablet{
        height:60%;
        flex-direction: column;
    }
    .general-gallery img{
        width: 50%;
        padding: 1rem;
        @include desktop{
            width:30%;
            padding: 2%;
        }
        @include laptop{
            width: 30%;
        }
        @include tablet{
            width:70%;
        }
    }
}
.user-gallery-gallery .overlay1{
    width:30%;
    height: 40%;
    align-items: center;
    position:absolute;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.user-gallery-gallery .overlay2{
    width:30%;
    height: 40%;
    position:absolute;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}
.user-gallery-gallery:hover .overlay1{
    background-color:rgba(170,170,170,0.3) ;
}
.user-gallery-gallery:hover .overlay2{
    background-color:rgba(170,170,170,0.3) ;
}
.user-gallery-gallery h2, .user-gallery-gallery img{
    transition: all 0.4s ease-in-out;
    
}
.user-gallery-gallery img{
    display: block;
    transform: scale(1.1);
    width:30%;
    .user-gallery-image{
        width: 70%;
        padding: 1rem;
        @include desktop{
            width:30%;
            padding: 2%;
        }
        @include laptop{
            width: 30%;
        }
        @include tablet{
            width:70%;
            height: 20%;
        }
        @include phone{
            width: 80%;
        }
    }
}
.user-gallery-gallery:hover img{
    transform: scale(1);
}
.user-gallery-gallery h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;

    font-size: 2rem;
    padding: 5px;
  }
  
.user-gallery-gallery a.info {
    text-decoration: none;
    padding: 0rem;
    text-transform: uppercase;
    color: #fff;
    border: 0.02rem solid #fff;
    margin: 0.1rem 0 0 0;
    background-color: transparent;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: scale(1.5);
    transition: all 0.4s ease-in-out;
    font-weight: bold;

  }
  
 .user-gallery-gallery:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
    background-color: rgba(0,0,0,0.4);
  }    