$colors:(
    primary:#234561,
    secondary:#178646,
    basic:rgba(0, 0, 0, 0),
    clear:#fff,

);
@function color($color-name){
    @return map-get($colors, $color-name);
}

$anim-speed: 0.3s;
$phone: 380px;
$tablet: 800px;
$laptop:  1200px;
$desktop: 2000px;

@mixin tablet{
    @media(max-width: #{$tablet}){
      @content;
    }
  }
  @mixin laptop{
    @media(max-width: #{$laptop}){
      @content;
    }
  }
  @mixin desktop{
    @media(max-width: #{$desktop}){
      @content;
    }
  }