@import"./_variables.scss";
@import"./_header.scss";
@import"./_flexbox.scss";
@import"./_hover1.scss";
@import"./_zoomin-box.scss";
@import"./_slideup.scss";
@import"./_circle.scss";
@import"./flip";
@import"./_usergallery.scss";


html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("/dist/css/img/test4.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: conver;
    background-color: black;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/* .text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(color(primary),0.8);
} */
#container{
    width: 50%;
    background-color: rgba(color(primary),0.2);
    box-sizing: border-box;
}

.text{
    font-size: 3rem;
    color: rgba(color(secondary),0.9);
    padding: 0.5rem;
    margin-bottom: 0;
}
.subtitle{
    font-size: 2.5rem;
    color: rgba(color(secondary),0.8);
    padding: 0.5rem;
    margin-top: 0;
}

.session3{
  background-color:brown;
  height: 80px;
  position: fixed;
  width:100%;
  top: 0;
  z-index: 99;
  box-shadow: cadetblue;
}




.wrapper{
  padding: 1rem;
  max-width: 1200px;
  text-align: center;
  margin: 50px auto;
}
.parent {
  width: 100%;
  margin: 200px;
  height: 100%;
  border: 4px solid  #fff;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}
.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .5s;
}
.child::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: 
  rgba(52,73,94,0.75);
}
.bg-one {
  background-image: url("/dist/css/img/roof.jpg");
}

.back-detail{
  display: none;
  font-size: 4rem;
  color: burlywood;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50rem;
  cursor: pointer;
}

parent:hover .child, .parent:focus .chid{
  transform: scale(1,3);
}
parent:hover .child::before, .parent:focus .chid::before{
  display: block;
}
parent:hover .back-detail, .parent:focus .back-detail{
  display: block;
}

.flip-card {
    background-color: transparent;
    width: 3rem;
    height: 5rem;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    align-items: center;
  }
  
  .flip-card-inner {
    width: 3rem;
    height: 5rem;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  

  .flip-card-front {
    width: 3rem;
    height: 5rem;
    background-color: #bbb;
    color: black;
  }
  

  .flip-card-back {
    width: 3rem;
    height: 5rem;
    transform: rotateY(180deg);
  }

  
/* 
  font-family: 'Dancing Script', cursive;

  font-family: 'Tangerine', cursive;

  font-family: 'Cedarville Cursive', cursive;

  font-family: 'Fredericka the Great', cursive;

  font-family: 'Cabin Sketch', cursive;

  font-family: 'Sacramento', cursive;
 */
